.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:45px;
    margin: 75px;
}
.cart-container{
    background-color: #ff99004d;;
}
.cart-container h4{
    text-align: left;
}